
#cont
{
    min-height: 100vh;
    min-width: 100%;
    background-image: linear-gradient(rgba(4, 6, 30, 0.5),rgba(4, 6, 30, 0.5)), url(src/assets/images/bgimage.png);
    background-size: cover;
    background-position: center;
}
.navbar-brand
{
    padding: 5px;
}
ul
{
    padding: 3px;
}
li a{
	text-decoration: none;
	font-size: 18px;
	
}
li a:hover
{
	transform: scale(1.2);
	transition-delay: 0.5s;
	transition-duration: 0.5s;
}

li a::after{
	content: '';
	background: #ff543c;
	width: 0%;
	height: 2px;
	display: block;
	transition-delay: 0.3s;
	transition-duration: 0.5s;
}

li a:hover::after{
	width: 100%;
}