
<!-- <div class="outer"> -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-5 col-md-6 offset-md-1 col-sm-10">
          <!-- <div class="col-md-7"> -->
          <div class="panel border" style="background: rgba(0, 0, 0, 0.35); margin-left: 30px;">
            <div class="panel-heading">
              <h3 class="pt-3 font-weight-bold" style="color: antiquewhite;">SIGN UP</h3>
            </div>
            <div class="panel-body p-3">
                <form [formGroup]="regForm">
                    <div class="form-group pt-3">  
                        <div class="input-field" [class.error]="regForm.controls['name'].dirty && regForm.hasError('required','name')">
                            <span class="fa fa-user p-2"></span>
                            <input formControlName="name" type="text" placeholder="Name">
                        </div>
                    </div>
                    <small class="text-danger" *ngIf="regForm.controls['name'].dirty && regForm.hasError('required','name')">*Name is required</small>
                    <div class="form-group pt-3">
                    <div class="input-field" [class.error]="regForm.controls['email'].dirty && regForm.hasError('required','email')">
                        <span class="fa fa-envelope p-2"></span>
                        <input  formControlName="email" type="email" placeholder="Email">
                    </div>
                </div>
                <small class="text-danger" *ngIf="regForm.controls['email'].dirty && regForm.hasError('required','email')">*Email is required</small>
                <div class="form-group pt-3">
                    <div class="input-field" [class.error]="regForm.controls['mobile'].dirty && regForm.hasError('required','mobile')">
                        <span class="fa fa-phone p-2"></span>
                        <input formControlName="mobile" type="tel" placeholder="Mobile Number">
                    </div>
                </div>
                <small class="text-danger" *ngIf="regForm.controls['mobile'].dirty && regForm.hasError('required','mobile')">*Mobile number is required</small>
                <div class="form-group pt-3">
                    <div class="input-field" [class.error]="regForm.controls['pwd'].dirty && regForm.hasError('required','pwd')">
                        <span class="fa fa-lock p-2"></span>
                        <input formControlName="pwd" type="password" placeholder="Password">
                    </div>
                </div>
                <small class="text-danger" *ngIf="regForm.controls['pwd'].dirty && regForm.hasError('required','pwd')">*Password is required</small>
                
                <button (click)="onsubmit()" type="submit" class="btn btn-outline-primary mt-4 w-100">SIGN UP</button>
                <div class="my-2 mx-3 py-3"><div class="text-center pt-4" style="color: beige;">Already have an account? <a id="forget" routerLink="/login" routerLinkActive="active">Login</a></div></div>
                </form>
            </div>
          </div> 
        <!-- </div> -->
        </div>
      </div>
    </div>
  <!-- </div> -->
